<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="StartupUrl" value="http://localhost:9001" />
        <add key="RefreshTokenValidityInDays" value="30" />
        <add key="SecretKey" value="secret_key" />
        <add key="JwtIssuer" value="msp" />

        <add key="AccessTokenRedisHostName" value="127.0.0.1" />
        <add key="RefreshTokenRedisHostName" value="127.0.0.1" />
        <add key="ValidRefreshTokenRedisHostName" value="127.0.0.1" />
    </appSettings>
</configuration>