<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/../logs/${machinename}/${shortdate}" />
  <targets async="true">
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <target name="file" xsi:type="File" layout="[${date}] [${level}] [${machinename}] ${logger} ${message}" filename="${logDirectory}/all.log" />
    <target name="requestFile" xsi:type="File" layout="[${date}] [${level}] [${machinename}] [${logger}] ${message}" filename="${logDirectory}/requests.log" />
    <target name="responseFile" xsi:type="File" layout="[${date}] [${level}] [${machinename}] [${logger}] ${message}" filename="${logDirectory}/responses.log" />
    <target name="errorFile" xsi:type="File" layout="[${date}] [${level}] [${machinename}] [${logger}] ${message}" filename="${logDirectory}/errors.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <logger name="*Request" level="Info" writeTo="requestFile" />
    <logger name="*Response" level="Info" writeTo="responseFile" />
    <logger name="*Error" level="Error" writeTo="errorFile" />
    <logger name="*Service" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>